.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cards {
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
  margin: 5px;
  padding: 1em;
  text-align: left;
  height: 150px;
  width: 100px;
  display: inline-flex;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  font-family: Arial, Helvetica, sans-serif
}

.alignBottom {
  position: absolute;
  bottom: 8px;
}

.section {
  border: 1px #DDD solid;
  background: #DDD;
  padding: 8px;
  margin: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
  text-align: center;
}

.Game {
  max-width: 1200px;
  margin: 0 auto;
}